<div id="content" class="col-md-10 col-md-offset-1" ng-init="search.setDiscourses()">
    <div class="panel panel-info">
        <div class="panel-heading" translate="SEARCH_CONFIGURATION"></div>
        <div class="panel-body">
            <div class="col-md-12" id="form-wrapper" style="float:left;">
                <form ng-submit="search.configureSearch()" method="POST" class="form-inline col-md-8 col-md-offset-2" role="form">
                    <div class="input-group col-md-12">
                        <div class="input-group-btn">
                            <span uib-dropdown on-toggle="toggled(open)">
                                <a href id="simple-dropdown" uib-dropdown-toggle>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img ng-src="{{search.model.lang.selected.img}}" height="18"/>&nbsp;&nbsp;<span class="caret"></span>
                                    </button>
                                </a>
                                <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
                                    <li ng-repeat="lang in search.model.lang.available">
                                        <a class="lang-selector" ng-click="search.changeLanguage($index)">{{lang.name}}</a>
                                    </li>
                                </ul>
                            </span>
                        </div><!-- /btn-group -->
                        <input type="text" ng-model="search.model.search.text" class="form-control" placeholder="{{ 'SEARCH_TEXT' | translate }}">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit" translate="SEARCH"></button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <div class="col-md-12 discourse-wrapper">
                    <div class="title col-md-12"><h1 translate="DISCOURSES">:</h1></div>
                    <tags-input ng-model="search.model.discourses" add-from-autocomplete-only="true" placeholder=".">
                        <auto-complete source="search.tags"></auto-complete>
                    </tags-input>
                </div>
                <div class="col-md-12" style="float: left; margin-top: 20px; padding-left: 0px !important;">
                    <div class="col-md-6 discourse-wrapper" style="padding-left: 0px !important;">
                        <div class="title col-md-12" style="margin-top: -5px;"><h1 translate="ORDEN">:</h1></div>

                        <div class="btn-group" role="group">
                            <button type="button" ng-class="{true:'btn btn-primary active', false:'btn btn-primary'}[search.model.order.field === null]" ng-click="search.changeOrderField(null)">{{ 'ORDEN_PRIORIDAD' | translate }}</button>
                            <button type="button" ng-class="{true:'btn btn-primary active', false:'btn btn-primary'}[search.model.order.field === 'before']" ng-click="search.changeOrderField('before')">{{ 'ORDEN_ANTERIOR' | translate }}</button>
                            <button type="button" ng-class="{true:'btn btn-primary active', false:'btn btn-primary'}[search.model.order.field === 'after']" ng-click="search.changeOrderField('after')">{{ 'ORDEN_SIGUIENTE' | translate }}</button>
                        </div>
                    </div>
                    <div class="col-md-6 discourse-wrapper" ng-hide="search.model.order.field === null">
                        <div class="title col-md-12" style="margin-top: -5px;"><h1 translate="ORDEN_SKIP">: </h1></div>
                        <div class="btn-group" role="group">
                            <button type="button" ng-class="{true:'btn btn-primary active', false:'btn btn-primary'}[search.model.order.skip === 1]" ng-click="search.changeOrderSkip(1)">1</button>
                            <button type="button" ng-class="{true:'btn btn-primary active', false:'btn btn-primary'}[search.model.order.skip === 2]" ng-click="search.changeOrderSkip(2)">2</button>
                            <button type="button" ng-class="{true:'btn btn-primary active', false:'btn btn-primary'}[search.model.order.skip === 3]" ng-click="search.changeOrderSkip(3)">3</button>
                            <button type="button" ng-class="{true:'btn btn-primary active', false:'btn btn-primary'}[search.model.order.skip === 4]" ng-click="search.changeOrderSkip(4)">4</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="switches-container">
                <div id="lemmatizer-container" class="col-md-12 switch-container">
                    <div class="title col-md-4"><h1 translate="SEARCH_LEMMATIZE"></h1></div>
                    <div class="col-md-6">
                        <form>
                            <switch ng-model="search.model.switch.lemmatize" on="{{ 'YES' | translate }}" off="{{ 'NO' | translate }}" class="green"></switch>
                        </form>
                    </div>
                    <div class="col-md-1 switch-info" title="{{ 'SEARCH_LEMMATIZE_HELP' | translate }}"><i class="glyphicon glyphicon-info-sign"></i></div>
                </div>
                <div id="title-container" class="col-md-12 switch-container">
                    <div class="title col-md-4"><h1 translate="SEARCH_TITLE"></h1></div>
                    <div class="col-md-6">
                        <form>
                            <switch ng-model="search.model.switch.title" on="{{ 'YES' | translate }}" off="{{ 'NO' | translate }}" class="green"></switch>
                        </form>
                    </div>
                    <div class="col-md-1 switch-info" title="{{ 'SEARCH_TITLE_HELP' | translate}}"><i class="glyphicon glyphicon-info-sign"></i></div>
                </div>
                <div id="order-container" class="col-md-12 switch-container">
                    <div class="title col-md-4"><h1 translate="SEARCH_ORDERED"></h1></div>
                    <div class="col-md-6">
                        <form>
                            <switch ng-model="search.model.switch.order" on="{{ 'YES' | translate }}" off="{{ 'NO' | translate }}" class="green"></switch>
                        </form>
                    </div>
                    <div class="col-md-1 switch-info" title="{{ 'SEARCH_ORDERED_HELP' | translate}}"><i class="glyphicon glyphicon-info-sign"></i></div>
                </div>
                <div id="bilingue-container" class="col-md-12 switch-container">
                    <div class="title col-md-4"><h1 translate="BILINGUAL_SEARCH"></h1></div>
                    <div class="col-md-6">
                        <form>
                            <switch ng-model="search.model.switch.bilingual" on="{{ 'YES' | translate }}" off="{{ 'NO' | translate }}" class="green"></switch>
                        </form>
                    </div>
                    <div class="col-md-1 switch-info" title="{{ 'BILINGUAL_SEARCH_HELP' | translate}}"><i class="glyphicon glyphicon-info-sign"></i></div>
                </div>
                <div id="distance-container" class="col-md-12 switch-container">
                    <div class="title col-md-4"><h1 translate="SEARCH_DISTANCE"></h1></div>
                    <div class="col-md-6">
                        <form>
                            <switch ng-model="search.model.switch.distance" on="{{ 'YES' | translate }}" off="{{ 'NO' | translate }}" class="green"></switch>
                        </form>
                    </div>
                    <div class="col-md-1 switch-info" title="{{ 'SEARCH_DISTANCE_HELP' | translate}}"><i class="glyphicon glyphicon-info-sign"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="ajax-load"></div>
    <div id="test-text"></div>

    <!-- Modal -->
    <div id="config-dialog" class="modal fade" role="dialog">
        <div class="modal-dialog" id="config-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" translate="SEARCH_CONFIGURE"></h4>
                </div>
                <div class="modal-body">
                    <p>Click in any node but the last to configure the search.</p>
                    <div id="arrows-container">
                        <div id="graph-wrapper"></div>
                    </div>
                    <div style='text-align: center;' ng-show="search.config.graph.show">
                        <p>Click any node to set as main.</p>
                        <div class='displayable-term' ng-click="search.setAsMain($event)" id='modalWord-{{search.config.graph.word1ID}}' ng-bind="search.config.graph.word1"></div>
                        <div class='distance-wrapper-modal'>
                            <div class='btn-group' role='group' aria-label='btn-group-1'>
                                <button type='button' class='btn btn-warning subDistance' ng-click="search.subDistance()"><i class='glyphicon glyphicon-chevron-left'></i></button>
                                <div class='btn btn-primary disabled distance-display' id='word-distance' ng-bind="search.config.graph.distance"></div>
                                <button type='button' class='btn btn-warning addDistance' ng-click="search.addDistance()"><i class='glyphicon glyphicon-chevron-right'></i></button>
                            </div>
                        </div>
                        <div class='displayable-term' ng-click="search.setAsMain($event)" id='modalWord-{{search.config.graph.word2ID}}' ng-bind="search.config.graph.word2"></div>
                    </div>
                </div>
                <div class="modal-footer" style="margin-top: 25px;">
                    <button type="button" class="btn btn-success" data-dismiss="modal" translate="SEARCH" ng-click="search.search()"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="total-hits" class="col-md-12" ng-show="search.model.result.showNumMatches">Se han encontrado {{search.model.result.numMatches}} parrafo(s)</div>
<div style="width:98%" id="result-wrapper" class="result-wrapper">
    <div ng-repeat="result in search.model.result.matches" style="margin-left: 10px; width: 100%; white-space: nowrap;">
        <div ng-style="search.model.result.config.before" ng-bind-html="result.previous"></div>
        <div ng-style="search.model.result.config.center" ng-bind="result.target"></div> 
        <div ng-style="search.model.result.config.after" ng-bind-html="result.next"></div>
        <div ng-style="search.model.result.config.discourses" ng-bind-html="result.discourses"></div>
    </div>
</div>
<div style="width:98%; display: table;" class="result-wrapper">
    <div style="margin-left: 10px; width: 100%; border-bottom: 1px solid black; display: table-row" ng-show="search.model.search.isBilingual">
        <div style="display: table-cell; width:30%; text-align: center;">Original</div>
        <div style="display: table-cell; width:30%; text-align: center;">Fragmento</div> 
        <div style="display: table-cell; width:30%; text-align: center;">Traducción</div>
        <div style="display: table-cell; width: 8%;text-align: center;">Discursos</div>
    </div>
    <div ng-repeat="result in search.model.result.bilingual" style="margin-left: 10px; width: 100%; display: table-row;">
        <div class="bilingual-container" ng-bind-html="result.previous"></div>
        <div class="bilingual-container" ng-bind-html="result.target"></div> 
        <div class="bilingual-container" ng-bind-html="result.next"></div>
        <div style="display: table-cell; width: 8%; text-align: center; vertical-align: middle;" ng-bind-html="result.discourses"></div>
    </div>
</div>
<div class="col-md-12 text-center" ng-show="search.showPager()">
    <uib-pagination 
        items-per-page="1" class="pagination-sm" boundary-links="true" total-items="search.model.result.pager.numPages" ng-change="search.pageChanged()"
        ng-model="search.model.result.pager.currentPage" max-size="search.model.result.pager.maxSize" boundary-link-numbers="true"
        first-text="{{ 'FIRST' | translate}}" last-text="{{ 'LAST' | translate}}" previous-text="{{ 'PREVIOUS' | translate}}" next-text="{{ 'NEXT' | translate}}"
        ></uib-pagination>
</div>
<div class="col-md-12 text-center" id="letter-paginator" ng-show="search.showPager()">
    <ul class="pagination">
        <li style="cursor: pointer;" ng-click="search.searchLetter($event)" ng-repeat="letter in search.model.result.pager.letters"
            ng-class="{true:'active', false:''}[search.model.order.letter === letter]" >
            <a>{{letter}}</a>
        </li>
    </ul>
</div>