/* 
    Created on : 19-feb-2014, 18:36:28
    Author     : paco
*/

footer, header {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

#login-btn {
    margin-top: 10px;
}

.title h1 {
    font-size: 1em;
    font-weight: bold;
    margin-top: 0px;
}

.switch-container {
    float: left;
}

.language-wrapper, discourse-wrapper {
    margin-top: 10px;
    float: left;
    padding-left: 0px;
}

.discourse-wrapper {
    margin-top: 10px;
    float: left;
    padding-left: 0px;
}

.language-wrapper .title {
    padding-top: 10px;
}

#tags-input {
    padding-left: 15px;
}

.selectivity-multiple-input {
    min-width: 80px !important;
}

.selectivity-multiple-input-container {
    min-width: 750px !important;
}
.discourse-wrapper .title {
    padding-top: 16px;
}

.switch-info {
    color: #55b1f1;
    cursor: help;
}

#form-wrapper {
    margin-bottom: 40px;
}

#switches-container {
    margin-top: 10px;
}

.well {
    margin-top: 20px !important;
    float: left !important;
}

#monolingual, #bilingual,#content>div {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#form-container {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
}

#content {
    float: left;
}

.arrowsandboxes-powered-by {
    display: none !important;
}


#search-config-header {
    /*background-color: #428bca;*/
    background: linear-gradient(to bottom,#428bca 0,#2d6ca2 100%);
}

#searchConfig, #search-config-close {
    color: white;
    font-weight: bolder;
}

.config-word {
    margin-bottom: 10px;
}

.ui-widget-header {
    background: linear-gradient(to bottom,#428bca 0,#2d6ca2 100%) !important;
}

.ui-dialog-title {
    color: white;
}

#config-footer {
    text-align: right;
    position: absolute;
    bottom: 10px;
    width: 100%;
    right: 0px;
}

#config-dialig-note {
    font-style: italic;
    font-size: 0.7em;
}

.displayable-term {
    /*background: linear-gradient(to bottom,#c8edf7 0,#2b669a 100%);*/
    /*background: linear-gradient(to bottom,#428bca 0,#2d6ca2 100%);*/
    background-color: #5cb85c;
    width: 150px;
    height: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    padding-top: 8px; 
    margin: 0 !important;
}

.displayable-term-main {
    background-color: #bbeaff;
}
.arrowsandboxes-node {
    cursor: pointer !important;
}

.less-distance, .more-distance {
    cursor: pointer;
}
/***
Start by setting display:none to make this hidden.
Then we position it in relation to the viewport wi  ndow
with position:fixed. Width, height, top and left speak
speak for themselves. Background we set to 80% white with
our animation centered, and no-repeating */
#ajax-load {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
        url('../media/img/ajax-loader.gif') 
        50% 50% 
        no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading #ajax-load {
    display: block;
}

.snippet {
    font-family: monospace;
}

.snippet>div>b {
    color: blue;
}

.snippet>div>i {
    color: red;
}

#hits {
    list-style-type: none;
}

.btn-group-container {
    border: 2px inset #bab8b8;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 10px;
    padding-bottom: 15px;
}

.no-padding {
    padding: 0 !important;
}